build/
build/*
CMakeCache.txt
Makefile
CMakeFiles/
CMakeFiles/*
cmake_install.cmake
*.h5
qsolve
*.swp
#*
.#*
*~
*.idea
std*
*.bak
np
plt 
stat*
configure2.sh
configure_60_au
configure_90_au
._.DS_Store
.DS_Store
*#
.ipynb_checkpoints/
*.swo
*flymake*
.idea/
*.h5
simres/
simres/*
image/*.pdf
image/*.png
*.gch
